---
import  MainLayout  from '../layouts/MainLayout.astro'
import type {PokemonListResponse} from '../interfaces/pokemon-response'
import CardPokemon from '../components/pokemon/CardPokemon.astro';

const resp = await fetch(`https://pokeapi.co/api/v2/pokemon`);
const { results } = (await resp.json()) as PokemonListResponse;

const title = 'Pokémon Static | Home'
---

<MainLayout title={title}>
  <h1 class="text-3xl">Pokemon List</h1><hr>
  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-3 mt-4"  
  >
    { results.map(pokemon => (
      <CardPokemon {...pokemon}/>
    ))}
  </section>
</MainLayout>
